[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev = "flask run"
seed = "python seed.py"
test = "ptw -- --capture=tee-sys"
coverage = "pytest --cov-report term-missing --cov=."
